// ========================================================================
//   Component: typo.less
// ========================================================================

//@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,500,600,700,800);
@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  font-family: "Raleway", sans-serif;
  color: #333;
}

h1, h2, h3, h4 {
  font-weight: bold;
}
